<!DOCTYPE html>
<html lang="en">

<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">

    <meta
        name="viewport"
        content="width=device-width, initial-scale=1.0"
    >

    <title>WeatherVista</title>

  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
   

    <link
        rel="preconnect"
        href="https://fonts.googleapis.com"
    >

    <link
        href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap"
        rel="stylesheet"
    >

</head>

<body>

<div class="overlay">

    <div class="container">
        <div class="user-bar">

    <h3>
        Welcome, {{ user.username }}
    </h3>

    <a href="{{ url_for('main.logout') }}">
        Logout
    </a>

</div>

        <div class="top-bar">

            <h1>WeatherVista</h1>

            <button
                type="button"
                id="themeToggle"
                class="theme-btn"
            >
                🌙
            </button>

        </div>

        <form id="weatherForm">

            <input
                type="text"
                id="cityInput"
                placeholder="Search city..."
                required
            >

            <button type="submit">
                Search
            </button>

        </form>

        <button
            type="button"
            id="locationBtn"
            class="location-btn"
        >
            📍 Use Current Location
        </button>

        <div id="recentSearches"></div>

        <div id="loading" class="hidden spinner"></div>

        <div id="weatherResult"></div>

    </div>

</div>

<script src="{{ url_for('static', filename='script.js') }}"></script>

</body>
</html>