<!DOCTYPE html>
<html>

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WeatherVista</title>
</head>

<body class="{{ weather.condition if weather else '' }}">
<div class="overlay">

    <div class="container">

        <h1>WeatherVista</h1>

        <form method="POST" id="weatherForm">

            <input
                type="text"
                name="city"
                placeholder="Enter city name"
                required
            >

            <button type="submit">
                Search
            </button>

        </form>

        <div id="loading" class="hidden">
            Loading weather...
        </div>

        {% if error %}
            <p class="error">{{ error }}</p>
        {% endif %}

        {% if weather %}

        <div class="weather-card">

            <h2>{{ weather.city }}</h2>

            <img
                src="https://openweathermap.org/img/wn/{{ weather.icon }}@2x.png"
            >

            <p>
                Temperature: {{ weather.temperature }} °C
            </p>

            <p>
                Feels Like: {{ weather.feels_like }} °C
            </p>

            <p>
                Humidity: {{ weather.humidity }}%
            </p>

            <p>
                Wind Speed: {{ weather.wind }} m/s
            </p>

            <p>
                Condition: {{ weather.condition }}
            </p>

        </div>

        {% endif %}

    </div>

</div>
<script
    src="{{ url_for('static', filename='js/script.js') }}">
</script>
</body>
</html>

